body {
    background: #CC9966;
}

.content {
    width: 600px;
    margin: 100px auto 0;
    background: #FFFFCC;
}

.title {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.content p {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.2em;
    margin: 0;
}

.textarea {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 400px;
    font-size: 200%;
}